# clock signal for 50 MHz
NET "clk" LOC = C9 | IOSTANDARD = LVCMOS33;
NET "clk" PERIOD = 20.0ns HIGH 50%;

# two 2-bit numbers
NET "no<0>" LOC = H18 | IOSTANDARD = LVTTL |PULLUP;
NET "no<1>" LOC = N17 | IOSTANDARD = LVTTL |PULLUP;
NET "no<2>" LOC = L13 | IOSTANDARD = LVTTL |PULLUP;
NET "no<3>" LOC = L14 | IOSTANDARD = LVTTL |PULLUP;

# output for LED
NET "ledpin" LOC = F12 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;

# Push Button
NET "push1" LOC = H13 | IOSTANDARD = LVTTL |PULLDOWN; 
NET "push2" LOC = V4 | IOSTANDARD = LVTTL |PULLDOWN;